<div class="body-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="false">
      <app-files-page *ngIf="!isKIOSK" [isFile]="!isFileOnLink"></app-files-page>
    </mat-drawer>
    <div class="example-sidenav-content">
      <app-webshark
        [fileList]="files"
        [framePosition]="framePosition"
        #webShark
      ></app-webshark>
    </div>
  </mat-drawer-container>
</div>

<modal-resizable
  *ngFor="let dialog of dialogs; let idx = index"
  [title]="dialog.name || tapPage.title || '. . .'"
  (close)="onClose(idx)"
>
  <tap-page [taplink]="dialog.link" #tapPage></tap-page>
</modal-resizable>
