<div class="flex-container">
  <isData
    *ngIf="!(!(dataTree.length > 0) && !(detailsTable.length > 0))"
    [noDataIf]="!(dataTree.length > 0) && !(detailsTable.length > 0)"
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
      "
    >
      <app-menu-stat></app-menu-stat>
      <as-split [direction]="framePosition[0]" [gutterSize]="5">
        <as-split-area [size]="50">
          <div #tableDiv>
            <app-custom-table
              [details]="filterGrid(detailsTable)"
              [columns]="columnsTable"
              [isSelectedByClick]="true"
              [isPaginator]="false"
              (rowClick)="showMessage($event)"
              (rowDblClick)="openDetails($event)"
              style="min-height: 50vh"
              #dataGridTable
            ></app-custom-table>
          </div>
        </as-split-area>
        <as-split-area [size]="50">
          <as-split [direction]="framePosition[1]" [gutterSize]="5">
            <as-split-area [size]="50">
              <tree-filter
                *ngIf="dataTree && dataTree.length > 0"
                [data]="dataTree"
                style="flex: 1; overflow: auto"
                (clickRow)="onSelected($event)"
                [isFilter]="true"
                [selectedHexArray]="selectedHexArray"
                (filter)="setFilter($event)"
              ></tree-filter>
              <h1
                class="no-data"
                *ngIf="!dataTree || (dataTree && dataTree.length === 0)"
              >
                No Data
              </h1>
            </as-split-area>
            <as-split-area [size]="50">
              <app-frame-hex
                [b64data]="frameHexDataBase64"
                (onSelectedHex)="onSelectedHex($event)"
                style="flex: 1"
              ></app-frame-hex>
            </as-split-area>
          </as-split>
        </as-split-area>
      </as-split>
    </div>
  </isData>
</div>
<div class="progress-upload" *ngIf="parsingProgress != 100">
  <h1 style="font-size: 24pt;">
    Loading file: {{ parsingProgress.toFixed(2) }}%
  </h1>
  <div class="progress-bar" [style.width.%]="parsingProgress"></div>
</div>
<div class="progress-upload" *ngIf="loading && parsingProgress === 100">
  <h1 style="font-size: 24pt;">
    Parsing data...
  </h1>
  <div class="progress-bar" [style.width.%]="simulatedProgress"></div>
</div>